# File managed by Ansible

define hostgroup {
	hostgroup_name all
	alias          Todos los equipos
	members        *
}
{%  if nagios.hostgroups is defined %}
{%     for hostgroup in nagios.hostgroups.keys() %}
{%        if nagios.hostgroups[hostgroup]['enable']|default(false) == true %}

{##############################################################}
{# members:                                                   #}
{# for host in group[hostgroup]                               #}
{#    if hostvars[host].enable == True                        #}
{#    and not nagios.hosts[host].enabled == False             #}
{# ?  and not host in nagios.services[service].exclude        #}
{#    and not host in nagios.hostgroups[hostgroup].exclude    #}
{##############################################################}
define hostgroup {
	hostgroup_name {{ hostgroup }}
	alias          {%  if nagios.hostgroups[hostgroup] is defined
	                   and nagios.hostgroups[hostgroup]['alias'] is defined %}
	                      {{- nagios.hostgroups[hostgroup]['alias'] }}
	               {%  else %}
	               {{-    hostgroup }}
	               {%- endif -%}
	members        {%  for host in groups[hostgroup] %}
	               {%-    if hostvars[host]['nagios_enable']|default(True) == True
                                 and not ( nagios.hosts is defined
                                           and nagios.hosts[host] is defined
                                           and nagios.hosts[host].enabled|default(True) == False )
                                 and not ( nagios.hostgroups[hostgroup].exclude is defined
                                           and host in nagios.hostgroups[hostgroup].exclude ) %}
	               {{-       host }}
	               {%-       if not loop.last %}
	               {{-          ', ' }}
	               {%-       endif %}
	               {%-    endif %}
	               {%- endfor %}

}
{%        endif %}
{%     endfor %}
{%  endif %}
